html
  head
    title Talkmob / Welcome
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/parts.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    script(type='text/javascript', src='https://www.google.com/jsapi')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js', type='text/javascript')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js', type='text/javascript')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/checkCreateid.js')

  body
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='js/bootstrap.min.js')

    include header
    if user_name != null
      prm_id = user_name.id
      prm_name = user_name.name
      prm_pass = user_name.pass
      prm_mail = user_name.mail
    else
      prm_id = ''
      prm_name = ''
      prm_pass = ''
      prm_mail = ''


   #main
    .dummy
            form.form-horizontal(action='', method='POST', accept-charset='utf-8' ,style='height:90%' ,onSubmit="return checkForm()" ,name='form1').well
             input(type='hidden',name='id',value='#{prm_id}')
             .container-fluid
              .row-fluid

               .span5.offset1(align='center')
                 .frame
                  img.img-polaroid(src='', alt='Photo of Account Creator',style='width: 200px; height: 200px; ')
                 .buttons
                  label.Button(data-text-uploading='Uploading…')Upload your Photo
               .span5
                 div.control-group(id="name-group")
                    if user_name != null
                      span.uneditable-input(class='span4.5',style='padding:14px;height:50px;font-size:24px',value='#{prm_name}') #{prm_name}
                      input(type='hidden',name='name',value='#{prm_name}')
                    else
                      input#name.span12(type='text',name='name',placeholder='アカウント名',value='#{prm_name}' ,style='padding:14px;height:50px;font-size:24px')
                    p.help-block
                 div.control-group(id="pass-group")
                    input#pass.span12(type='password',name='pass',placeholder='パスワード',value='#{prm_pass}',style='padding:14px;height:50px;font-size:24px')
                    p.help-block
                 div.control-group(id="mail-group")
                    input#mail.span12(type='text',name='mail',placeholder='メールアドレス',value='#{prm_mail}',style='padding:14px;height:50px;font-size:24px')
                    p.help-block

                    label.well-small(style='vertical-align:middle')
                      input#optionsRadios1(type='radio', name='gender', value='1', checked='checked')
                      | 男性
                      input#optionsRadios2(type='radio', name='gender', value='2', checked='')
                      | 女性
                    p.help-block
                    label.checkbox
                      select
                        option 1980
                        option 1981
                        option 1982
                        option 1983
                        option 1984
                        option 1985
                        option 1986
                        option 1987
                        option 1988
                        option 1989
                        option(selected='selected') 1990
                        option 1991
                        option 1992
                        option 1993
                        option 1994
                        option 1995
                        option 1996
                        option 1997
                        option 1998
                        option 1999
                        option 2000
                    p.help-block
                    hr.separator
                    .dummy
                     if user_name != null
                      input.btn.btn-warning.btn-large.btn-block(type='submit', value='更新')
                     else
                      input.btn.btn-success.btn-large.btn-block(type='submit', value='ユーザー登録')
                     p.text-success #{db_result}
                    .overlay



