html
  head
    title Talkmob / Welcome
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/parts.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
  body
    include header

   #main

      include left
      .last
              if invTheme != null
               h3
                each item2 in invTheme
                 p.text-left 招待済みのトークルーム
                  blockquote(style='background:#EFE ;padding :20px')
                   p.text-left.text-success
                     a(href='talkboad/#{item2.roomid}')
                      strong テーマ：#{item2.title} [# #{item2.roomid}]
                   small.text-left 開始日：#{item2.start} タグ：#{item2.tagname} 　

              h3
               p.text-left 開催中のトークルーム
              each item in list

                   blockquote(style='background:#FAFAFA ;padding :15px')
                    p.text-left.text-success
                      a(href='talkboad/#{item.roomid}')
                       strong テーマ：#{item.title} [# #{item.roomid}]
                    small.text-left 開始日：#{item.start} タグ：[#{item.tagname}] 　

