html
  head
    title Talkmob / Welcome
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    script(type='text/javascript', src='https://www.google.com/jsapi')
    //script(type='text/javascript')
    //  google.load("jquery", "1.4.4");
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js', type='text/javascript')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js', type='text/javascript')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript')
      var port = '3000';
      var js_roomid = #{roomid};
      var js_name = '#{user_name.name}';
      var js_id = '#{user_name.id}';
    script(type='text/javascript', src='/javascripts/client.js')
    script(type='text/javascript', src='/javascripts/postit.js')
    script(type='text/javascript', src='/javascripts/hoge.js')
    script(type='text/javascript', src='/javascripts/chart.js')
    script(type='text/javascript', src='/javascripts/news.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap-tab.js')
    script(type='text/javascript', src='/javascripts/bootstrap-modal.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/parts.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/font-awesome.css')
  body.dummy(onLoad='init(#{roomid},#{user_name.name});')
    include header

   #main

       .postitboad
         //canvas#canvas_boad(width='490', height='400')

         each item2 in roominfo
           blockquote(style='background:#EFE ;padding :20px')
             p.text-left.text-success
               strong テーマ：#{item2.title}  [# #{item2.roomid}]
             small.text-left 開始日：#{item2.start} タグ：#{item2.tagname} 　

         .accessory
          .tabbable.tabs-right
           ul#myTab.nav.nav-tabs
            li.active
             a(href='#1data', data-toggle='tab')
               i.icon-bar-chart.icon-3x
            li
             a(href='#2file', data-toggle='tab')
              i.icon-info-sign.icon-3x
            li
             a(href='#3', data-toggle='tab')
              i.icon-file-alt.icon-3x
            li
             a(href='#4', data-toggle='tab')
              i.icon-group.icon-3x
            li
             a(href='#5', data-toggle='tab')
              i.icon-group.icon-3x
           .tab-content
            #1data.tab-pane.active
             #chart_div(style='width: 190px; height: 160px;float:left;')
             #chart_div2(style='width: 190px; height: 160px;float:left;')
             .dummy
              img.img-rounded(src='/images/audience.png')
            #2file.tab-pane
             table.table
               thead
                 tr
                   th #
                   th 記事
               tbody
                 tr
                   td
                   td
                    div(style='')
                      #ggnews
                 tr
                   td
                    img#esc-thumbnail-3872128626133068251.th.late-tbn(imgsrc='https://news.google.com/news/tbn/S_nUw3EMlHcJ/6.jpg', alt='', border='0', width='72', height='72', style='margin:0', src='https://news.google.com/news/tbn/S_nUw3EMlHcJ/6.jpg')
                   td 出版権提案、TPP交渉参加、絶版作品のダウンロード


            #3.tab-pane
             p.text-left
              h4 memo
             textarea(  rows='8', cols='80' ,style='width:350px;')
             .dummy
              button.btn.btn-success(type='button') 保存
            #4.tab-pane
             table.table
               thead
                 tr
                   th #
                   th アンケート
                   th 日付
                   th 結果
               tbody
                 tr
                   td 1
                   td 自分の仕事に良い影響があると思う？
                   td 2013/4/1
                   td Yes:38% No:62%
                 tr
                   td 2
                   td ISD条項ってしってる？
                   td 2013/4/1
                   td Yes:55% No:45%
                 tr
                   td 3
                   td Larry
                   td the Bird
                   td @twitter
             a.btn.btn-success#openModal(data-target='#myModal', role='button', data-toggle='modal') アンケート作成
            #5.tab-pane
              #screen(style='background: #f9f9f9; height: 100%; width: 540px;')
              button.btn(type='submit', id='addRect') postit
              textarea(id='posttext' ,  rows='1', cols='40')




       .chatboad
         dl#memberlisttd(style='border:solid 1px;margin:1px;padding:2px;background-color:#BBB;')

         div.success
           #iventMsg(style='color:red;height:10px;margin:0px;font-size:14px')
         dl#list(style='overflow: scroll; height:450px;scrolltop:30px;')



           each item in chatlist

            if topFlag == null
                //１件目の時だけ、それ以前のチャットを取得する際に使用するためのスタートアイテムidを保持するspanタグを挿入
                topFlag = true
                span#startitem(hidden) #{item.chatid}
             div(style='padding:4px;')
                div.row-fluid(style='float:left;')
                  div(style='float:left;')
                     img(src='https://s3-ap-northeast-1.amazonaws.com/talkmobprofile/#{item.id}')( style='height:40px')
                  div.balloon(style='float:left;padding:10px;') #{item.message}
                    input(type='hidden', id='chatid', value='#{item.chatid}')
                    div(style='padding:0px;margin:0px;')
                          a.likepoint(href='#')
                                i.icon-thumbs-up
                                span(id='like_#{item.chatid}')
                          a.warnpoint(href='#',style='color:orange;')
                                i.icon-warning-sign
                                span(id='warn_#{item.chatid}')
                div.row-fluid
                          div(style='float:right;padding:0px;font-size:10px;color:#999;') #{item.createdate}


         form(id='form', action='')
           table
             tr
               td(style='text-align:right;')
                 img(src='https://s3-ap-northeast-1.amazonaws.com/talkmobprofile/#{user_name.id}')
                 input(type='hidden', id='user', value='#{user_name.name}')
                 input(type='hidden', id='id', value='#{user_name.id}')
                 input(type='hidden', id='roomid', value='#{roomid}')

                 textarea#message(name='message', rows='2', cols='40')
                 input.btn.btn-success#btnMsgSubmit(type='submit', value='送信')
                 input(type='hidden', id='lastMsgUser', value='')
                 input(type='hidden', id='MsgCount', value='0')
                 span.count
                 li#formMsg(style='color:red;height:10px;margin:0px;font-size:14px')



  #myModal.modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='display:none;')
               .modal-header(style='background:#EFE')
                 button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                 h3#myModalLabel
                  i.icon-group.icon-large(style='font-color:red') オーディエンス
               .modal-body
                 p オーディエンスに聞きたい事を記入してください
                 textarea(rows='2' , placeholder='記入してください', style='width:300px;')
               .modal-footer
                 button.btn(data-dismiss='modal', aria-hidden='true') キャンセル
                 button.btn.btn-primary 送信

